parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined static property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$linkPickerTitleField\\.$#"
			count: 1
			path: src/Filament/LinkPickerInput.php
		-
			message: "#^Access to an undefined property Livewire\\\\Component\\:\\:\\$mountedActions\\.$#"
			count: 2
			path: src/Filament/LinkPickerInput.php
		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getTranslation\\(\\)\\.$#"
			count: 1
			path: src/Filament/LinkPickerInput.php
		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\HigherOrderCollectionProxy\\<string, Wotz\\\\FilamentArchitect\\\\Engines\\\\Architect, Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\)\\, Wotz\\\\FilamentArchitect\\\\Engines\\\\Architect\\>\\>\\:\\:anchorList\\(\\)\\.$#"
			count: 1
			path: src/LinkCollection.php
